*.css linguist-detectable=false
*.dart linguist-detectable=true
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.c++ linguist-detectable=false
*.cmake linguist-detectable=false
*.swift linguist-detectable=false
*.c linguist-detectable=false
